<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.the.joeun.myblog.mapper.MemberMapper">

    <select id="getMemberByEmail" resultType="Member">
        SELECT *
        FROM member
        WHERE member_email = #{memberEmail}
    </select>

    <select id="getMemberById" resultType="Member">
        SELECT *
        FROM member
        WHERE member_id = #{memberId}
    </select>

    <select id="selectMemberList" resultType="Member">
        SELECT *
        FROM member
        ORDER BY member_name
    </select>

    <insert id="saveMember" parameterType="Member">
        INSERT INTO member(member_name, member_email, member_password, member_role)
        VALUES (#{memberName}, #{memberEmail}, #{memberPassword}, #{memberRole})
    </insert>

    <!--
    $ = jsp, thymeleaf 에서 변수명칭으로 쓰는 표기
    # = mybatis 에서 Java 변수명칭으로 쓰는 표기
    둘 다 사용 시 : 수동과 자동 둘 다 하겠다 설정이 되어 오히려 코드가 동작하지 않을 수 있음
        -> 둘 중 하나만 사용!
    resultType : 자동 매핑, model 에 해당하는 클래스 파일 문서를 찾아 config 형식에 맞게 매핑
    resultMap  : 수동 매핑, 복잡한 조회나 JOIN을 할 때 사용

    -->

</mapper>
